{% load static %} {% load humanize %}
<!--footer-->

<div class="footer">
  <div class="main-section">
    <div class="subscribe">
      <h3>subscribe</h3>
      <p>
        Subscribe to our newsletter today! Recieve updates, tips, support and
        inspiration once a month.
      </p>
      <div class="form-container">
        <h2>Subscribe to our Newsletter</h2>

        <div class="input-container" style="background-color: white">
          <input type="text" placeholder="Name" name="name" required />
          <input type="text" placeholder="Email address" name="mail" required />
          <label>
            <input type="checkbox" checked="checked" name="subscribe" />
            Daily Newsletter
          </label>
        </div>

        <div class="submit-container">
          <input type="submit" value="Subscribe" />
        </div>
      </div>
    </div>
    <div class="recent_post">
      <h3>recent posts</h3>
      {% if recent_post %}{% for post in recent_post %}
      <div class="post_box">
        <div class="rp1">
          <a href="{% url 'post' post.post_id %}"
            ><img src="{{ post.post_image.url }}" alt=""
          /></a>
        </div>
        <a href="{% url 'post' post.post_id %}">
          <p>
            {{ post.title }} <br /><span
              >{{post.post_date | timesince}} ago</span
            >
          </p>
        </a>
      </div>
      {% endfor %}{% else %}
      <div class="col-md-12">
        <p>No Recent Post Available</p>
      </div>
      {% endif %}
    </div>
    <div class="contact">
      <h3>get in touch</h3>
      <div class="socialbox">
        <div class="box"><i class="fa fa-phone"></i> +254 720 000 000</div>

        <div class="box">
          <i class="fa fa-envelope"></i> info@thewriter.co.ke
        </div>
        <div class="box">
          <i class="fas fa-address-card"></i>Oginga Odinga st 12/34, Tivoli
          Center
        </div>
        <div class="box">
          <i class="fa-sharp fa-solid fa-pen"></i>send email via
          <span id="popup" onclick="div_show()">contact form</span>
        </div>
      </div>
      <div class="logo">
        <img src="{% static 'images/pen.png' %}" alt="logo" />
        <p>the writer</p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>2023 &copy; copyright reserved | AppNex Limited</p>
  </div>
</div>
