{% extends 'base.html' %} {% load static %} {% block content %}

<div class="about-container">
  <div class="top-section">
    <h2>we are the writers</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt dolorum
      voluptatibus asperiores magnam optio! Beatae odit possimus inventore magni
      veritatis, maxime sequi eligendi ex voluptatibus, modi rem laboriosam,
      libero consequatur.
    </p>
    <div class="top-box">
      <div class="box">
        <h2>1500</h2>
        <p>publishings</p>
      </div>
      <div class="box">
        <h2>30</h2>
        <p>authors</p>
      </div>
      <div class="box">
        <h2>1.5m</h2>
        <p>readers</p>
      </div>
      <div class="box">
        <h2>729</h2>
        <p>subscribers</p>
      </div>
    </div>
  </div>

  <div class="our-team">
    <h2>meet our team</h2>
    <div class="team">
      {% if authors %} {% for author in authors %}
      <div class="team-box">
        <img src="{{ author.photo.url }}" alt="" />
        <p>{{ author.name }}</p>
        <p><span>{{ author.job_description }}</span></p>
      </div>
      {% endfor %} {% else %}
      <div class="col-md-12">
        <p>No Team Member Posted</p>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="bottom-section">
    <h2>our process</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit incidunt
      voluptatem, voluptate ullam, impedit similique minus.
    </p>
    <div class="process-box">
      <div class="item-box">
        <h3>project installation</h3>
        <p>-Lorem ipsum dolor</p>
        <p>-sit amet consectetur</p>
        <p>-adipisicing elit</p>
        <p>-Aliquid, ab cumque</p>
      </div>
      <div class="item-box">
        <h3>Design</h3>
        <p>-Lorem ipsum dolor</p>
        <p>-sit amet consectetur</p>
        <p>-adipisicing elit</p>
        <p>-Aliquid, ab cumque</p>
      </div>
      <div class="item-box">
        <h3>Support</h3>
        <p>-Lorem ipsum dolor</p>
        <p>-sit amet consectetur</p>
        <p>-adipisicing elit</p>
        <p>-Aliquid, ab cumque</p>
      </div>
      <div class="item-box">
        <h3>Litigation</h3>
        <p>-Lorem ipsum dolor</p>
        <p>-sit amet consectetur</p>
        <p>-adipisicing elit</p>
        <p>-Aliquid, ab cumque</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
