{% extends 'base.html' %}{% load static %} {% block content %}

<div class="main">
    <div class="main_post">
        <h2>THIS IS A POST TITLE GIVEN HERE</h2>
        <p><span> by john doe, 12 april. 2023</span></p>
        <img src="images/ella-jardim-M0zs81FNm6s-unsplash.jpg" alt="" />
        <div class="intro-phrase">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti neque architecto, officiis numquam esse officia incidunt dolores repellat debitis ipsam. Nesciunt cumque voluptate, laudantium beatae esse fugiat repellendus quia eveniet?
            </p>
            <hr />
        </div>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorem placeat omnis, temporibus veniam esse officiis rem deserunt consequatur tempora ullam unde voluptate nemo dolore recusandae, non porro reiciendis nihil.<br />Lorem ipsum
            dolor sit amet consectetur, adipisicing elit. Consectetur ea tempora sit optio omnis voluptas aperiam repellendus assumenda officia! Ipsum ut voluptates illo aperiam in dignissimos deserunt officia, est id.
            <span><a href="post.html">read more...</a></span>
        </p>

        <div class="afterpost-hr">
            <hr />
        </div>
        <div class="blog_category">


            <div class="box">

                <a href="#">
                    <img src="images/christina-wocintechchat-com-f6wB7D_xISY-unsplash.jpg" alt="" />
                </a>
                <div class="cat1">
                    <h2>Brand identity</h2>
                    <a href="#">
                        <hr />
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perspiciatis ut dolor, accusantium, quae aspernatur incidunt.
                        </p>
                </div>
                </a>
            </div>


            <div class="box">
                <a href="#">
                    <img src="images/wp2841657-cool-pc-wallpapers.jpg" alt="" /></a>

                <div class="cat1">
                    <a href="#">
                        <h2>graphic design</h2>
                        <hr />
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perspiciatis ut dolor, accusantium, quae aspernatur incidunt.
                        </p>
                </div>
                </a>
            </div>


            <div class="box">
                <a href="#">
                    <img src="images/dan-senior-5YY2fN9jrac-unsplash.jpg" alt="" />
                </a>
                <div class="cat1">
                    <a href="#">
                        <h2>photography</h2>
                        <hr />
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perspiciatis ut dolor, accusantium, quae aspernatur incidunt.
                        </p>
                </div>
                </a>
            </div>


            <div class="box">
                <a href="#">
                    <img src="images/james-harrison-vpOeXr5wmR4-unsplash.jpg" alt="" /></a>
                <div class="cat1">
                    <a href="#">
                        <h2>web design</h2>
                        <hr />
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perspiciatis ut dolor, accusantium, quae aspernatur incidunt.
                        </p>
                </div>
                </a>
            </div>

        </div>
        <div class="breadcrumbs-hr">
            <hr />
        </div>
        <div class="opinions">
            <div class="testimonials">
                <h2>
                    testimonials /
                    <span>our readers</span>
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur in architecto quisquam asperiores officiis illum.
                </p>
                <p><span>john doe, SEO copywriter</span></p>
            </div>
            <div class="us">
                <h2>who we are / <span>creative works is our passion</span></h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae, laboriosam rerum vel repudiandae vitae magnam omnis enim eos? Pariatur consequuntur aliquam voluptatem. Veritatis nostrum, quae nesciunt saepe corporis natus doloribus.
                </p>
                <button>
              <a href="{% url 'about' %}"><h2>read more</h2></a>
            </button>
            </div>
        </div>
        <div class="after_opinions_hr">
            <hr />
        </div>
    </div>

    <div class="breadcrumbs">
        <div class="author">
            <h2>featured author</h2>
            <img src="images/ali-morshedlou-WMD64tMfc4k-unsplash.jpg" alt="" />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium porro optio doloremque.
            </p>
            <button>
            <a href=""><h2>read more</h2></a>
          </button>
        </div>
        <hr />
        <div class="recent_post">
            <h2>recent posts</h2>
            <div class="post_box">
                <div class="rp1">
                    <a href=""><img src="images/federica-abbinante-AsnexPb9Mfk-unsplash.jpg" alt="" /></a>
                </div>
                <a href="">
                    <p>change it every month? <br /><span>18 April.2023</span></p>
                </a>

            </div>

            <div class="post_box">
                <div class="rp1">
                    <a href=""><img src="images/graham-mansfield-y7ywDXWJ-JU-unsplash.jpg" alt="" /></a>
                </div>
                <a href="">
                    <p>
                        why doctors recommend morning workouts?<br /><span>15 April.2022</span
                >
              </p></a>
            </div>
          
          <div class="post_box">
            <div class="rp1">
              <a href=""><img src="images/louis-hansel--9CjvlbUGhY-unsplash.jpg" alt="" /></a>
             </div>
             <a href=""> <p>
                eating healthy is now expensive. <br /><span
                  >18 september.2023</span
                >
              </p></a>
            
          </div>
          <div class="post_box">
            <div class="rp1">
              <a href=""><img
                src="images/bluebird-provisions-CjmlUpo3eAw-unsplash.jpg"
                alt=""
              /></a></div>
              <a href=""><p>how many meals per day? <br /><span>18 may.2021</span></p>
                </a>

            </div>
            <div class="post_box">
                <div class="rp1">
                    <a href=""><img src="images/christina-wocintechchat-com-f6wB7D_xISY-unsplash.jpg" alt="" /></a>
                </div>
                <a href="">
                    <p>
                        rise of online jobs a boom to the economy. <br /><span>1 january.2023</span
                >
              </p></a>
            </div>
          
          <div class="post_box">
            <div class="rp1">
              <a href=""><img
                src="images/graham-mansfield-y7ywDXWJ-JU-unsplash.jpg"
                alt=""
              /></a></div>
              <a href=""><p>
                why doctors recommend morning workouts?<br /><span
                  >15 April.2022</span
                >
              </p></a>
            
          </div>
        
        <hr />
        <div class="socials">
          <h2>follow us</h2>
          <ul>
            <li>
              <a href=""><i class="fab fa-whatsapp"></i> </a>
            </li>
            <li>
              <a href=""><i class="fab fa-instagram"></i> </a>
            </li>
            <li>
              <a href=""><i class="fab fa-pinterest"></i> </a>
            </li>
            <li>
              <a href=""><i class="fab fa-twitter"></i> </a>
            </li>
            <li>
              <a href=""><i class="fab fa-facebook"></i> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
{% endblock %}