{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}" />
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Great+Vibes&family=Kaushan+Script&family=Michroma&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <title>The Writer</title>
  </head>

  <body>
    <!--navbar-->
    {% include 'partials/_navbar.html' %}
    <!--topbar-->
    {% include 'partials/_topbar.html' %}

    <!--popup contact form-->
    <div id="abc">
      <!-- Popup Div Starts Here -->
      <div id="popupContact">
        <!-- Contact Us Form -->
        <form action="#" id="form" method="post" name="form">
          <img
            id="close"
            src="{% static 'images/close.png' %}"
            onclick="div_hide()"
          />
          <h2>Contact Us</h2>
          <hr />
          <input id="name" name="name" placeholder="Name" type="text" />
          <input id="email" name="email" placeholder="Email" type="text" />
          <textarea id="msg" name="message" placeholder="Message"></textarea>
          <a href="javascript:%20check_empty()" id="submit">Send</a>
        </form>
      </div>
      <!-- Popup Div Ends Here -->
    </div>
    {% block content %} {% endblock %}

    <!-- END DEMO HTML -->
    <!--footer-->
    {% include 'partials/_footer.html' %}
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"
    ></script>
    <!-- gsap js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.2/gsap.min.js"></script>
    <!-- CSSRulePlugin JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.2/CSSRulePlugin.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
    <script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>

    <!-- Animated Slider JS 
    <script src="js/animated-slider.js"></script>
    -->
  </body>
</html>
