{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}" />
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <title>The Writer</title>
  </head>

  <body>
    <nav>
      <div class="navigation">
        <div class="logo">
          <img src="{% static 'images/pen.png' %}" alt="logo" />
          <p>the writer</p>
        </div>

        <ul>
          <li>
            <a href="index.html">home</a>
          </li>
          <li>
            <a href="blog.html">blog</a>
          </li>
          <li>
            <a href="about.html">about</a>
          </li>
          <li>
            <a href="gallary.html">gallary</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Top Navigation Menu -->
    <div class="topnav">
      <a href="#home" class="active"
        ><img src="{% static 'images/the writer logo.jpg' %}" alt="logo" />
      </a>

      <!-- Navigation links (hidden by default) -->
      <div id="myLinks">
        <a href="index.html">home</a>
        <a href="blog.html">blog</a>
        <a href="about.html">about</a>
        <a href="gallary.html">gallary</a>
      </div>
      <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars fa-lg"></i>
      </a>
    </div>

    <!--popup contact form-->
    <div id="abc">
      <!-- Popup Div Starts Here -->
      <div id="popupContact">
        <!-- Contact Us Form -->
        <form action="#" id="form" method="post" name="form">
          <img
            id="close"
            src="{% static 'images/close.png' %}"
            onclick="div_hide()"
          />
          <h2>Contact Us</h2>
          <hr />
          <input id="name" name="name" placeholder="Name" type="text" />
          <input id="email" name="email" placeholder="Email" type="text" />
          <textarea id="msg" name="message" placeholder="Message"></textarea>
          <a href="javascript:%20check_empty()" id="submit">Send</a>
        </form>
      </div>
      <!-- Popup Div Ends Here -->
    </div>

    <div class="footer">
      <div class="main-section">
        <div class="subscribe">
          <h3>subscribe</h3>
          <p>
            Subscribe to our newsletter today! Recieve updates, tips, support
            and inspiration once a month.
          </p>
          <div class="form-container">
            <h2>Subscribe to our Newsletter</h2>

            <div class="input-container" style="background-color: white">
              <input type="text" placeholder="Name" name="name" required />
              <input
                type="text"
                placeholder="Email address"
                name="mail"
                required
              />
              <label>
                <input type="checkbox" checked="checked" name="subscribe" />
                Daily Newsletter
              </label>
            </div>

            <div class="submit-container">
              <input type="submit" value="Subscribe" />
            </div>
          </div>
        </div>
        <div class="recent_post">
          <h3>recent posts</h3>
          <div class="post_box">
            <div class="rp1">
              <a href=""
                ><img
                  src="{% static 'images/federica-abbinante-AsnexPb9Mfk-unsplash.jpg' %}"
                  alt=""
              /></a>
            </div>
            <a href="">
              <p>change it every month? <br /><span>18 April.2023</span></p>
            </a>
          </div>

          <div class="post_box">
            <div class="rp1">
              <a href=""
                ><img
                  src="{% static 'images/graham-mansfield-y7ywDXWJ-JU-unsplash.jpg' %}"
                  alt=""
              /></a>
            </div>
            <a href="">
              <p>
                why doctors recommend morning workouts?<br /><span
                  >15 April.2022</span
                >
              </p></a
            >
          </div>

          <div class="post_box">
            <div class="rp1">
              <a href=""
                ><img
                  src="{% static 'images/louis-hansel--9CjvlbUGhY-unsplash.jpg' %}"
                  alt=""
              /></a>
            </div>
            <a href=""
              ><p>
                eating healthy is now expensive. <br /><span
                  >18 september.2023</span
                >
              </p></a
            >
          </div>
          <div class="post_box">
            <div class="rp1">
              <a href=""
                ><img
                  src="{% static 'images/bluebird-provisions-CjmlUpo3eAw-unsplash.jpg' %}"
                  alt=""
              /></a>
            </div>
            <a href=""
              ><p>how many meals per day? <br /><span>18 may.2021</span></p>
            </a>
          </div>
          <div class="post_box">
            <div class="rp1">
              <a href=""
                ><img
                  src="{% static 'images/christina-wocintechchat-com-f6wB7D_xISY-unsplash.jpg' %}"
                  alt=""
              /></a>
            </div>
            <a href="">
              <p>
                rise of online jobs a boom to the economy. <br /><span
                  >1 january.2023</span
                >
              </p></a
            >
          </div>
        </div>
        <div class="contact">
          <h3>get in touch</h3>
          <div class="socialbox">
            <div class="box"><i class="fa fa-phone"></i> +254 720 000 000</div>

            <div class="box">
              <i class="fa fa-envelope"></i> info@thewriter.co.ke
            </div>
            <div class="box">
              <i class="fas fa-address-card"></i>Oginga Odinga st 12/34, Tivoli
              Center
            </div>
            <div class="box">
              <i class="fa-sharp fa-solid fa-pen"></i>send email via
              <span id="popup" onclick="div_show()">contact form</span>
            </div>
          </div>
          <div class="logo">
            <img src="{% static 'images/pen.png' %}" alt="logo" />
            <p>the writer</p>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>2023 &copy; copyright reserved | AppNex Limited</p>
      </div>
    </div>
    <!-- END DEMO HTML -->

    <!-- gsap js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.2/gsap.min.js"></script>
    <!-- CSSRulePlugin JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.2/CSSRulePlugin.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
    <script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>

    <!-- Animated Slider JS 
    <script src="js/animated-slider.js"></script>
    -->
  </body>
</html>
